/* [next]/internal/font/google/ibm_plex_sans_f125e5d3.module.css [app-client] (css) */
@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw-s.331a278f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhdXeFaxOedfTDw-s.893c896a.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhdLeFaxOedfTDw-s.35960310.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw-s.07d0d7fd.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw-s.36197772.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../media/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc-s.p.c78b3dfd.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIxsdP3pBmtF8A-s.73fbcde9.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIVsdP3pBmtF8A-s.147d38fb.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIJsdP3pBmtF8A-s.a6c0e8e0.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI5sdP3pBmtF8A-s.cdc38b0b.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdP3pBmtF8A-s.8432aa8e.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdP3pBms-s.p.38947807.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIxsdP3pBmtF8A-s.94dc904d.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIVsdP3pBmtF8A-s.63e0424c.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIJsdP3pBmtF8A-s.5b834a72.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdP3pBmtF8A-s.8552df6b.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdP3pBmtF8A-s.77d321aa.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms-s.p.ccfea4d9.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIxsdP3pBmtF8A-s.6c8809d7.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdP3pBmtF8A-s.c8076ef0.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIJsdP3pBmtF8A-s.f1863df7.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdP3pBmtF8A-s.cc83ac22.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdP3pBmtF8A-s.50808676.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../media/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms-s.p.7337bf31.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: IBM Plex Sans Fallback;
  src: local(Arial);
  ascent-override: 101.32%;
  descent-override: 27.18%;
  line-gap-override: 0.0%;
  size-adjust: 101.17%;
}

.ibm_plex_sans_f125e5d3-module__tcle0q__className {
  font-family: IBM Plex Sans, IBM Plex Sans Fallback;
  font-style: normal;
}

.ibm_plex_sans_f125e5d3-module__tcle0q__variable {
  --font-ibmplexsans: "IBM Plex Sans", "IBM Plex Sans Fallback";
}

/*# sourceMappingURL=%5Bnext%5D_internal_font_google_ibm_plex_sans_f125e5d3_module_b52d8e.css.map*/